<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>Wallet</h1>
        <button id="createWalletBtn">지갑 생성</button>
        <ul>
            <li>private key : <span id="privateKey"></span></li>
            <li>public key : <span id="publicKey"></span></li>
            <li>account : <span id="account"></span></li>
            <li>balance : <span id="balance"></span></li>
        </ul>
        <button id="sendTransactionBtn">거래 전송</button>
        <ul>
            <li>수신 계정: <input id="receivedAccount" /></li>
            <li>보낼 금액: <input id="amount" /></li>
        </ul>

        <button id="getWalletListBtn">지갑 목록 가져오기</button>
        <ul id="walletList"></ul>
    </body>
    <script type="text/javascript">
        const createWalletBtn = document.querySelector('#createWalletBtn');
        const getWalletListBtn = document.querySelector('#getWalletListBtn');
        const sendTransactionBtn = document.querySelector('#sendTransactionBtn');

        const view = ({ privateKey, publicKey, account, balance }) => {
            const _privateKey = document.querySelector('#privateKey');
            const _publicKey = document.querySelector('#publicKey');
            const _account = document.querySelector('#account');
            const _balance = document.querySelector('#balance');

            _privateKey.innerHTML = privateKey;
            _publicKey.innerHTML = publicKey;
            _account.innerHTML = account;
            _balance.innerHTML = balance;
        };

        const getView = async (account) => {
            console.log('getView');
            const response = await axios.get(`/wallet/${account}`);
            const wallet = response.data;
            view(wallet);
        };

        const createWallet = async () => {
            const response = await axios.post('/newWallet', null);
            const wallet = response.data;
            view(wallet);
        };

        const getWalletList = async () => {
            const walletList = document.querySelector('#walletList');
            const response = await axios.post('/getWalletList', null);

            const accountList = response.data.map((account) => {
                return `<li onClick="getView('${account}')">${account}</li>`;
            });
            walletList.innerHTML = accountList;
        };

        const sendTransaction = async () => {
            const receivedAccount = document.querySelector('#receivedAccount').value;
            const amount = document.querySelector('#amount').value;
            const data = {
                receivedAccount,
                amount,
            };
            console.log(data);
            const response = await axios.post('/sendTransaction');
        };

        createWalletBtn.addEventListener('click', createWallet);
        getWalletListBtn.addEventListener('click', getWalletList);
        sendTransactionBtn.addEventListener('click', sendTransaction);
    </script>
</html>
